<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>vuetest</title>
<link rel="stylesheet" type="text/css"
	href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<h1>Vue </h1>
			<div id="app">
				<div>{{message}}</div>
				<input type="text" v-model="message">
			</div>
		</div>

		<!-- 绑定DOM数据 -->
		<div id="app-2">
			<span v-bind:title="message" > 鼠标悬停几秒钟查看此处动态绑定的提示信息！ </span>
			<input type="text" v-model="message">
		</div>
		
		
		<!-- 绑定DOM结构 -->
		<div id="app-3">
		  <p v-if="seen">现在你看到我了</p>
		</div>
		<!-- ？？？ 这个例子演示了我们不仅可以绑定 DOM 文本到数据，也可以绑定 DOM 结构到数据。而且，Vue 也提供一个强大的过渡效果系统，可以在 Vue 插入/更新/删除元素时自动应用过渡效果。 -->
		
		<!-- 还有其它很多指令，每个都有特殊的功能。例如，v-for 指令可以绑定数组的数据来渲染一个项目列表： -->
			<div id="app-4">
			  <ol>
			    <li v-for="todo in todos">
			      {{ todo.text }}
			    </li>
			  </ol>
			</div>
		
		<!-- 为了让用户和你的应用进行互动，我们可以用 v-on 指令绑定一个事件监听器，通过它调用我们 Vue 实例中定义的方法： -->
		
		<div id="app-5">
			{{message}}
			<input v-on:click="dao" type="button" value="翻转">
		</div>
		
		<div id="app-6">
			{{message}}
			<input v-model="message"/>
		</div>
		
		<div id="app-7">
		  <ol>
		    <!-- 现在我们为每个todo-item提供待办项对象    -->
		    <!-- 待办项对象是变量，即其内容可以是动态的 -->
		    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
		  </ol>
		</div>
		
		<div id="apps">
			<table border="8">
				<zz v-for="item in items" v-bind:user="item"></zz>
			</table>
			
		</div>
		
		<div id="appe">
			<br/>
			<div style="width:20px;height:10px;color:red"  v-bind:style="mw">HHHHHHHHH</div>
			<br/>
			<input v-model="mw" type="text"/>
			{{mw}}
		</div>
		
		<div id="appz">
			<ol>
				<yy v-for="it in listy" v-bind:user="it"/>
			</ol>
		</div>
		
		<div id="appCalls">
			<button v-on:click="getMessage" >getMessage</button>
			<button v-on:click="getUser" >getUser</button>
			<ol>
				<nn v-for="item in backMessage" v-bind:user="item"/>
			</ol>
			
			id:<input type="text" v-model="mo.uid"/><br/>
			name:<input type="text" v-model="mo.uname"/><br/>
			pass:<input type="text" v-model="mo.upass"/><br/>
			<input type="button" v-on:click="subUser" value="submit"/><br/>
			<input type="button" v-on:click="subUserPUT" value="submit"/><br/>
		</div>
		
		
	</div>



	<script src='https://unpkg.com/vue@2.0.5/dist/vue.js'></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>

